/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Mar-2019, 13:38:12
    Author     : jords
*/
 h1 {text-decoration: underline; font-weight: bold; text-align: center;}
        body {background-color: lightgrey; }
        body {text-align: center;}
        button {font-size: 25pt;}
        
        #main body {
            border: 10px solid black;
            padding: 15px;
        }
